/* Властивості атрибутів */

/* body {
  margin: 24px;
} */

/* Властивості атрибутів */

/* додавання елементів */

/* body {
  margin: 24px;
}

.usernames li {
  padding: 8px;
  border: 2px dashed tomato;
  text-transform: uppercase;
}

.usernames li:not(:last-child) {
  margin-bottom: 12px;
} */


/* додавання елементів */

/* Властивість innerHTML */

/* body {
  margin: 16px;
}

.accent {
  color: tomato;
  text-decoration: underline;
} */


/* body {
  padding: 16px;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-item {
  padding: 8px;
  border-width: 2px;
  border-style: dashed;
}

.list-item:nth-child(even) {
  border-color: tomato;
}

.list-item:nth-child(odd) {
  border-color: blueviolet;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
}  */

/* Властивість innerHTML */

/* ВЛАСТИВІСТЬ insertAdjacentHTML() */

/* body {
  padding: 16px;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-width: 2px;
  border-style: dashed;
}

.list-item.new::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: green;
}

.list-item:nth-child(even) {
  border-color: tomato;
}

.list-item:nth-child(odd) {
  border-color: blueviolet;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
} */

/* ВЛАСТИВІСТЬ insertAdjacentHTML() */

/* <!-- Метод addEventListener() --> */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
} */

/* <!-- Метод addEventListener() --> */

/*  */

body {
  padding: 16px;
  text-align: center;
}


/*  */